.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  box-shadow: 0 1px 3px -2px #000;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  max-width: 82px;
  width: 100%;
  margin-top: -8px;
}
.navbar-logo a {
  text-decoration: none;
}
.navbar-logo p {
  color: #fff;
  font-size: 29px;
  font-weight: 800;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 88px;
  font-size: 16px;
  font-weight: 400;
}

.active {
  border-bottom: 1px solid #dc7000;
}

.navbar-logo a.active {
  border-bottom: none;
}
.nav-login a.active {
  border-bottom: none;
}

.nav-login {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-login button {
  width: 131px;
  height: 41px;
  border-radius: 6px;
  outline: none;
  color: #fff;
  background: #fa9021;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.nav_cart-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: #ff4141;
  color: #fff;
}
