.item {
  width: 300px;
}

.item p {
  margin: 6px 0px;
  color: #fff;
}

.items-prices {
  display: flex;
  gap: 20px;
}

.items-prices-new {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.items-prices-old {
  color: #cacaca;
  font-size: 18px;
  font-weight: 400;
  text-decoration: line-through;
}

.item:hover {
  transform: scale(1.05);
  transition: 0.6s;
}
