.header-section {
  height: 100vh;
  display: flex;
}

.header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 20px;
  padding-left: 180px;
  line-height: 1.2;
}

.header-left h2 {
  color: #fa9021;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
}

.header-left p {
  color: #fff;
  font-size: 100px;
  font-weight: 100px;
  font-weight: 700;
}
.header-icon-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-icon-left img {
  width: 100px;
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 53px;
  margin-top: 20px;
  border-radius: 40px;
  background: linear-gradient(92deg, #fa8305 2.08%, #fb9e3c 117.25%);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.header-right {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
